/* ================= CONTACT ================= */

#contact {
  padding: 100px 0;
  text-align: center;
  background: linear-gradient(to bottom, #0b0b0b, #111);
}

.contact-title {
  font-size: 36px;
  margin-bottom: 18px;
}

.contact-desc {
  max-width: 650px;
  margin: 0 auto 40px;
  color: #aaa;
  font-size: 15px;
  line-height: 1.7;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
  margin-bottom: 40px;
}

.contact-item {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 15px;
}

.contact-item a {
  color: #fff;
  text-decoration: underline;
}

/* Social Icons */
.contact-socials {
  display: flex;
  justify-content: center;
  gap: 28px;
  margin-top: 40px;
}

.contact-socials a {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: #161616;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: #fff;
  transition: all 0.3s ease;
}

.contact-socials a:hover {
  background: #ff8a3d;
  color: #000;
  transform: translateY(-6px);
}
